## 列拆分

将一列分隔成多列

In [36]:
import pandas as pd

df = pd.DataFrame({
    'col1': ['A', 'B', 'C', 'D'],
    'col2': ['a,1', 'b,2', 'c,3', 'd,4']
})

df

  col1 col2
0    A  a,1
1    B  b,2
2    C  c,3
3    D  d,4

如上表，如何把col2列拆分成两列？

1.先把col2数据拿出来，构造一个新的df

In [42]:
# col2 = df.col2.apply(lambda v: v.split(',')) # col值按「,」分隔，转成list
# df2 = pd.DataFrame(data=list(col2.values), columns=['col3', 'col4']) # 用二维嵌套list，构造新的df
# df2
df2 = df.col2.str.split(',', expand=True)
df2

   0  1
0  a  1
1  b  2
2  c  3
3  d  4

2.两个df横向拼接

In [43]:
df = pd.concat([df, df2], axis=1)
df

  col1 col2  0  1
0    A  a,1  a  1
1    B  b,2  b  2
2    C  c,3  c  3
3    D  d,4  d  4

3.如果不希望保留原来col2列，直接drop掉即可

In [44]:
df = df.drop(['col2'], axis=1)
df

  col1  0  1
0    A  a  1
1    B  b  2
2    C  c  3
3    D  d  4

## 行拆分

将一行分隔成多行

In [50]:
df = pd.DataFrame({
    'col1':['A','B','C/D','E'],
    'col2':[100, 150, 120, 100]
})
df

  col1  col2
0    A   100
1    B   150
2  C/D   120
3    E   100

如上表，col1的第三行是两个值，如何拆分成两行？

1.把col1分隔、展开，并保持索引不变，构造一个列

In [67]:
col3 = df['col1'].str.split('/', expand=True).stack().reset_index(level=1, drop=True).rename('col3')
col3

0    A
1    B
2    C
2    D
3    E
Name: col3, dtype: object

2.新列加入到原df，按索引join

In [69]:
df = df.join(col3)
df

  col1  col2 col3
0    A   100    A
1    B   150    B
2  C/D   120    C
2  C/D   120    D
3    E   100    E

3.如果不需要原来的col1，drop掉即可